html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

[hidden] {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*****************************************************CODE*******************************************************/
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  position: fixed;
  height: 72px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 3;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header__list li {
  margin-left: 32px;
}
.header__list li :hover {
  color: #0096FF;
  transition: 0.3s;
}
.header__link {
  color: #18191F;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.header__burger {
  display: none;
}
.header-logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}
.header-logo__img {
  margin-right: 10px;
}
.header__contact {
  position: relative;
  z-index: 3;
}
.header__contact a {
  margin-right: 30px;
}
@media (max-width: 767px) {
  .header body.lock {
    overflow: hidden;
  }
  .header .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    padding: 80px 0 0 0;
    display: flex;
    justify-content: center;
    overflow: auto;
  }
  .header .header__menu.active {
    right: 0;
    transition: 0.7s;
  }
  .header .header__list {
    display:block;
  }
  .header .header__list li {
    margin-bottom: 30px;
  }
  .header .header__contact {
    position: fixed;
    top: 300px;
    right: -100%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
  .header .header__contact a {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .header .header__contact.active {
    right: 0;
    transition: 0.7s;
  }
  .header .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: 0.7s;
  }
  .header .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: 0.7s;
  }
  .header .header__burger.active span {
    transform: scale(0);
    transition: 0.7s;
  }
  .header .header__burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .header .header__burger::before, .header .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}
.main {
  margin-top: 72px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 867px) {
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-img {
    margin-top: 90px;
  }
}
.main-content span {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.376923px;
  color: #0096FF;
}
@media (max-width: 867px) {
  .main-content span {
    color: #18191F;
  }
}
.main-content h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #18191F;
}
.main-content p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
}
.main-content button {
  outline: none;
  border: none;
  background: #0096FF;
  border-radius: 10px;
}
.main-content button a {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  padding: 17px 32px;
}
.main-img img {
  max-width: 500px;
  max-height: 380px;
}
.main-circle {
  position: absolute;
  width: 740px;
  height: 740px;
  background: #0096FF;
  border-radius: 50%;
  top: -20%;
  right: -20%;
  z-index: -1;
}
@media (max-width: 867px) {
  .main-circle {
    background: #0096FF;
    display: none;
  }
}

.banner {
  background: #F0F6FB;
  width: 100%;
  height: 150px;
  margin-top: 200px;
  margin-bottom: 70px;
}
@media (max-width: 876px) {
  .banner {
    margin-top: 20px;
  }
}
.banner__text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 33px;
  text-align: center;
  padding-top: 55px;
}
.banner__text a {
  color: #0096FF;
}

.var {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.var-item {
  background: #0096FF;
  border-radius: 20px;
  width: 250px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 100px;
}
.var-item__name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.var-item__name span {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.var-item__p {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 133.5%;
  color: #FFFFFF;
}
@media (max-width: 1030px) {
  .var {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .var-item {
    margin-bottom: 20px;
  }
}

.our {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
@media (max-width: 1000px) {
  .our {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .our-circle {
    display: none;
  }
}
.our-circle {
  position: absolute;
  width: 478px;
  height: 478px;
  border-radius: 50%;
  background: #F1F1F1;
  z-index: -1;
  left: 40%;
}
.our-info h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #000000;
}
.our-info__info span {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #0096FF;
}
.our-info__info p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 600px) {
  .services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.services h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}
.services h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}
.services .services__button {
  outline: none;
  border: none;
  background-color: #FFF;
}
.services .services__button a {
  padding-right: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.services .services-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .services-item__item {
  margin-bottom: 70px;
  margin-right: 20px;
}
.services .services-item__item span {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #18191F;
}
.services .services-item__item p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
}
.services .services-item__item button {
  border: none;
  outline: none;
  background-color: #FFF;
}
.services .services-item__item button a {
  margin-right: 10px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #0096FF;
}

.specialists {
  margin-bottom: 100px;
}
.specialists h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  color: #18191F;
  text-align: center;
}
.specialists-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 550px) {
  .specialists-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.specialists-item__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.specialists-item__item h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}
.specialists-item__item span {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.376923px;
  text-transform: uppercase;
  color: #0096FF;
}
.specialists__contacts {
  align-items: center;
}
.specialists__contacts .ttw {
  margin: 0 20px;
}

.rewiews {
  overflow-y: hidden;
  margin-bottom: 100px;
}
.rewiews h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  color: #18191F;
}
.rewiews h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #18191F;
}

.slider {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.slider-item h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #18191F;
}
.slider-item p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #18191F;
}
.slider-item h5 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #18191F;
}
.slider-item span {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #474A57;
}

.blog-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.blog-info__item {
  margin-bottom: 40px;
}
.blog-info__item .class__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-info__item .class__img span {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}
.blog-info__item h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.blog-info__item p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}
.blog-info__like {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-info__like span {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #2296F9;
}
.blog-info__like h6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}
.blog h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #000000;
}
.blog h5 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #18191F;
}

.footer {
  width: 100%;
  background: #0096FF;
}
.footer-content {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 676px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-content .stay {
    display: flex;
    justify-content: flex-start;
  }
}
.footer-content__item {
  margin-bottom: 50px;
}
.footer-content__item h3, .footer-content__item p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.footer-content__item .content__name {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-content__item .content__name span, .footer-content__item .content__name a {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer-content__item .stay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-content__item .stay h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
.footer-content__item .stay a {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.footer-content__item .stay a img {
  margin-right: 15px;
}
.footer-content__item .data h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}
.footer-content__item .data p {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.footer-content__item .data form input {
  border: none;
  outline: none;
  padding: 7px 43px 7px 7px;
  font-family: Monrope;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #808080;
}
.footer-content__item .data form button {
  border: none;
  outline: none;
  background: #0096FF;
  border: 1px solid #FFFFFF;
  margin-left: 10px;
}
.footer-content__item .data form button a {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  padding: 12px;
}

.about-about {
  height: 148px;
  width: 100%;
  margin-top: 72px;
  background: #0096FF;
  margin-bottom: 80px;
}
.about-about h1 {
  font-weight: bold;
  font-size: 29px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 40px;
}
.about-about p {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #222222;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.about-info__info h1 {
  font-size: 28px;
  line-height: 26px;
  color: #18191F;
}
.about-info__info h3 {
  font-size: 22px;
  line-height: 26px;
  color: #18191F;
}
.about-info__info p {
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "liga" off;
  color: #18191F;
}

.cont {
  background: #F0F6FB;
  width: 100%;
}

.about-info2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
@media (max-width: 1150px) {
  .about-info2 {
    justify-content: center;
  }
}
.about-info2__info {
  margin-bottom: 50px;
}
.about-info2__info h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  color: #000000;
}
.about-info2__info p {
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
}

.about-departaments {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.about-departaments__scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .about-departaments__scroll {
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .about-departaments__scroll__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-departaments__scroll__item h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #2296F9;
}
.about-departaments__scroll__item p {
  font-weight: 300;
  font-size: 12px;
  line-height: 133.5%;
  color: #000000;
}
.about-departaments h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}
.about-departaments p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.doctors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 867px) {
  .doctors {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.doctors-info {
  margin-left: 50px;
}
.doctors-info h1 {
  font-weight: 800;
  font-size: 30px;
  line-height: 64px;
  color: #000000;
}
.doctors-info p {
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
}

.blog-blog {
  margin-bottom: 100px;
}
.blog-blog__item {
  display: flex;
}
.blog-blog__like {
  margin-left: 30px;
}
.blog-blog__like h3 {
  margin: 0;
}
.blog-blog__like .by {
  display: flex;
  align-items: center;
  height: 20px;
}
.blog-blog__like .by span {
  font-size: 12px;
  line-height: 22px;
  color: #2296F9;
}
.blog-blog__like .by h6 {
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  margin-left: 30px;
}
.blog-blog__like .by img {
  margin: 0 15px;
}
.blog-blog__like .by .class__blog {
  display: flex;
  align-items: center;
}
.blog-blog__like .by .class__blog span {
  margin-left: 5px;
}
.blog-blog__like .by .class__blog img {
  margin: 0;
}
.blog-blog__like .by .class__blog span {
  margin-left: 10px;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}

.blog-infoo p {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}
.blog-infoo p a {
  font-size: 14px;
  line-height: 21px;
  color: #0096FF;
}

@media (max-width: 1000px) {
  .blog-blog__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .blog-blog__item img {
    margin-bottom: 50px;
  }

  .blog-blog__like {
    margin: 0;
  }
}
.contact-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .contact-items {
    flex-direction: column;
  }
}
.contact-items__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.contact-items__item h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.contact-items__item span {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
}
.contact-items__item a {
  color: #FFD700;
}

.touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
@media (max-width: 400px) {
  .touch input {
    max-width: 280px;
  }
  .touch form {
    margin-left: 120px;
  }
}
.touch form {
  overflow-y: hidden;
}
@media (max-width: 850px) {
  .touch form .form__name {
    flex-direction: column;
  }
}
.touch form .form__name__message {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 15px 30px 15px;
}
.touch form .form__name__message span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 13px;
}
.touch form .form__name__message input {
  outline: none;
  border: none;
  height: 150px;
  background: #F6F6F6;
  border-radius: 5px;
}
.touch form .form__name__subject {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 15px;
}
.touch form .form__name__subject span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 13px;
}
.touch form .form__name__subject input {
  outline: none;
  border: none;
  height: 50px;
  background: #F6F6F6;
  border-radius: 5px;
}
.touch form .form__name {
  display: flex;
  margin-bottom: 30px;
}
.touch form .form__name__inp {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 15px;
  width: 400px;
}
.touch form .form__name__inp span {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 13px;
}
.touch form .form__name__inp input {
  outline: none;
  border: none;
  height: 50px;
  background: #F6F6F6;
  border-radius: 5px;
}
.touch form h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.buttonss {
  background: #0096FF;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 15px;
}
.buttonss a {
  padding: 15px 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}